[submodule "X4_Lua_Loader_API"]
	path = X4_Lua_Loader_API
	url = https://github.com/bvbohnen/x4-lua-loader-api.git
[submodule "X4_Hotkey_API"]
	path = X4_Hotkey_API
	url = https://github.com/bvbohnen/x4-hotkey-api.git
[submodule "X4_Simple_Menu_API"]
	path = X4_Simple_Menu_API
	url = https://github.com/bvbohnen/x4-simple-menu-api.git
[submodule "X4_Named_Pipes_API"]
	path = X4_Named_Pipes_API
	url = https://github.com/bvbohnen/x4-named-pipes-api.git
[submodule "X4_Time_API"]
	path = X4_Time_API
	url = https://github.com/bvbohnen/x4-time-api.git
[submodule "X4_Interact_Menu_API"]
	path = X4_Interact_Menu_API
	url = https://github.com/bvbohnen/x4-interact-menu-api.git
[submodule "X4_Better_Target_Monitor"]
	path = X4_Better_Target_Monitor
	url = https://github.com/bvbohnen/x4-better-target-monitor
